# Importing Data Using Pandas - Lab

## Introduction

In this lab, you'll get some practice with loading files with summary or metadata, and if you find that easy, the optional "level up" content covers loading data from a corrupted csv file!

## Objectives
You will be able to:

- Use pandas to import data from a CSV and and an Excel spreadsheet  

##  Loading Files with Summary or Meta Data

Load either of the files `'Zipcode_Demos.csv'` or `'Zipcode_Demos.xlsx'`. What's going on with this dataset? Clean it up into a useable format and describe the nuances of how the data is currently formatted.

All data files are stored in a folder titled `'Data'`.

In [1]:
# Import pandas using the standard alias
import pandas as pd

In [17]:
# Import the file and print the first 5 rows
df = pd.read_csv('Data/Zipcode_Demos.csv', header=47)
df.head()

,47,JURISDICTION NAME,COUNT PARTICIPANTS,COUNT FEMALE,PERCENT FEMALE,COUNT MALE,PERCENT MALE,COUNT GENDER UNKNOWN,PERCENT GENDER UNKNOWN,COUNT GENDER TOTAL,...,COUNT CITIZEN STATUS TOTAL,PERCENT CITIZEN STATUS TOTAL,COUNT RECEIVES PUBLIC ASSISTANCE,PERCENT RECEIVES PUBLIC ASSISTANCE,COUNT NRECEIVES PUBLIC ASSISTANCE,PERCENT NRECEIVES PUBLIC ASSISTANCE,COUNT PUBLIC ASSISTANCE UNKNOWN,PERCENT PUBLIC ASSISTANCE UNKNOWN,COUNT PUBLIC ASSISTANCE TOTAL,PERCENT PUBLIC ASSISTANCE TOTAL
0,48,10001,44,22,0.50,22,0.50,0,0,44,...,44,100,20,0.45,24,0.55,0,0,44,100
1,49,10002,35,19,0.54,16,0.46,0,0,35,...,35,100,2,0.06,33,0.94,0,0,35,100
2,50,10003,1,1,1.00,0,0.00,0,0,1,...,1,100,0,0.00,1,1.00,0,0,1,100
3,51,10004,0,0,0.00,0,0.00,0,0,0,...,0,0,0,0.00,0,0.00,0,0,0,0
4,52,10005,2,2,1.00,0,0.00,0,0,2,...,2,100,0,0.00,2,1.00,0,0,2,100

In [15]:
# Print the last 5 rows of df
df.iloc[46:50 , :]

,0,Average Statistics,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46
46,47,JURISDICTION NAME,COUNT PARTICIPANTS,COUNT FEMALE,PERCENT FEMALE,COUNT MALE,PERCENT MALE,COUNT GENDER UNKNOWN,PERCENT GENDER UNKNOWN,COUNT GENDER TOTAL,...,COUNT CITIZEN STATUS TOTAL,PERCENT CITIZEN STATUS TOTAL,COUNT RECEIVES PUBLIC ASSISTANCE,PERCENT RECEIVES PUBLIC ASSISTANCE,COUNT NRECEIVES PUBLIC ASSISTANCE,PERCENT NRECEIVES PUBLIC ASSISTANCE,COUNT PUBLIC ASSISTANCE UNKNOWN,PERCENT PUBLIC ASSISTANCE UNKNOWN,COUNT PUBLIC ASSISTANCE TOTAL,PERCENT PUBLIC ASSISTANCE TOTAL
47,48,10001,44,22,0.5,22,0.5,0,0,44,...,44,100,20,0.45,24,0.55,0,0,44,100
48,49,10002,35,19,0.54,16,0.46,0,0,35,...,35,100,2,0.06,33,0.94,0,0,35,100
49,50,10003,1,1,1,0,0,0,0,1,...,1,100,0,0,1,1,0,0,1,100

In [7]:
# What is going on with this data set? Anything unusual?

In [18]:
# Clean up the dataset
# I switched the initial read_csv to header=47, since that row is where the actual columns are and below where the data begins

## Level Up (Optional) - Loading Corrupt CSV files

Occasionally, you encounter some really ill-formatted data. One example of this can be data that has strings containing commas in a csv file. Under the standard protocol, when this occurs, one is supposed to use quotes to differentiate between the commas denoting fields and the commas within those fields themselves. For example, we could have a table like this:  

`ReviewerID,Rating,N_reviews,Review,VenueID
123456,4,137,This restaurant was pretty good, we had a great time.,98765`

Which should be saved like this if it were a csv (to avoid confusion with the commas in the Review text):
`"ReviewerID","Rating","N_reviews","Review","VenueID"
"123456","4","137","This restaurant was pretty good, we had a great time.","98765"`

Attempt to import the corrupt file, or at least a small preview of it. It is appropriately titled `'Yelp_Reviews_corrupt.csv'`. Investigate some of the intricacies of skipping rows to then pass over this error and comment on what you think is going on.

In [42]:
pd.read_csv('Data/Yelp_Reviews_corrupt.csv', usecols=[0, 1, 2, 5, 6])

# # Hint: Here's a useful programming pattern to use
# try:
#     # Do something
# except Exception as e:
#     # Handle your exception e

,Unnamed: 0,business_id,cool,review_id,stars
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,dDl8zu1vWPdKGihJrwQbpw,5
1,2,jtQARsP6P-LbkyjbO1qNGg,1,LZp4UX5zK3e-c5ZGSeo3kA,1
2,4,Ums3gaP2qM3W1XcA5r6SsQ,0,jsDu6QEJHbwP2Blom1PLCA,5
3,5,vgfcTvK81oD4r50NMjU2Ag,0,pfavA0hr3nyqO61oupj-lA,1
4,10,yFumR3CWzpfvTH2FCthvVw,0,STiFMww2z31siPY7BWNC2g,5
5,11,UBv8heCQR0RPnUQG0zkXIQ,0,HkYqGb0Gplmmk-xlHTRBoA,1
6,12,hdgYnadxg0GANhWOJabr2g,0,RgqWdZA4xR023iP3T6jVfA,5
7,19,gZGsReG0VeX4uKViHTB9EQ,0,51RHs_V_fjuistnuKxNpEg,5
8,25,f-v1fvtnbdw_QQRsCnwH-g,0,alI_kRKyEHfdHibYGgtJbw,1
9,26,yz66FIUPDKGhILDWzRLeKg,0,85DRIjwPJOTb4q0qOlBstw,1
10,27,6qDRqHWqf0EeHupSUEBfKg,0,GbiLIKmQPVCBtdNkTVdVSA,5
11,28,7AlULGZI1pHt0imODsqdkg,0,UaHgsL0xS4UnJ_iKqeOk_w,5
12,29,th4pZ5LkoIIkb1Vmu_m2DA,0,c4zzAD1S6721Fh-acCBy-g,4
13,30,nsSfCKW9KDB4COj9bzXApw,0,TTBwocu2mvqJFJrwmJN0Sw,5
14,31,cP8ErpZfRzdVR5Fvks-pnQ,0,-CresnnXQSHrQ85Ogm-Pqw,5
15,32,Edr6SafmQrZa6CcFuItoqg,0,U04YgYr4PiGUxB46J4xapg,2
16,35,SpJYus_184M2TdT7t52rIA,0,s9cpVj40VR_yl0lXbZQe6w,5
17,40,qdC2h3MqCNussc5lhzL7gg,0,AJ0IglpYAp2D0daOlVGIdg,1
18,41,XgRDG9E_WLEbl8S-QUqQkQ,0,5D_MsAJHrMa8QKkpE3g1Sg,5
19,42,awgoBwuhzlLGKEIverTGjQ,0,5bWN_IN8MQGjJ6_ZIXffDw,5
20,74,iO3GuIiZxzv-iETGVnoeVA,0,RW_mYzHYfdqn6g7xVgIcKg,4
21,Food was pretty decent as well. Like the salad...,NaN,NaN,NaN,NaN
22,4 stars since I'm bummed there were no mojitos.,0,0pf5VuzE4_1pwj5NJHG5TQ,NaN,NaN
23,79,yz3KtngrF2PQrif8JW7gdw,0,SLA1YP9doUc8h-6Kd34QmA,1
24,Manager doesn't take accountability for the la...,NaN,NaN,NaN,NaN
25,Be smart take you money out and run.,1,0pf5VuzE4_1pwj5NJHG5TQ,NaN,NaN
26,83,T2XdzAcj0M_kBD9_BHfZlw,0,qxPiEGIHy5xyVy78avH5Rg,4
27,Come for the popcorn and drinks.,1,0pf5VuzE4_1pwj5NJHG5TQ,NaN,NaN
28,92,AtbXj3Rg1GF6Dj5zu6KCDg,0,q6ij-nz5d_hvdjuelho1pQ,5
29,95,6tSvz_21BMo3a4GaItwa0g,0,66FSK2J1uHJqVI1Z8QiFGw,4
...,...,...,...,...,...
4621,Starting off with drinks,Bamburger serves beer,wine,including the usual vanilla and chocolate sus...,as well a special flavour each day for the ni...
4622,The menu is varied,offering up soup,salads,but almost everyone here is in it for the bur...,from the type of bun
4623,We went with the Bambamburger ($11.50),which is 2/3 of a pound of prime ground chuck,and the chicken burger ($9.95) for myself,onions,garlic mayo and cheese sauce for the Bambambu...
4624,Bamburger serves up great burgers,fries and shakes at a fairly good price,although if you go a little overboard with th...,and the atmosphere was very comfortable and n...,NaN
4625,If you are hunting for a real deal on a burger,Bamburger might not be what you are looking for,but if you are more on the adventurous side,8,YHWsLBS8jzZiPjKHMFOaAA
4626,3225,iyyWYpWm8X-6i7kBR3JHuw,0,yLKMQNn8VE3CEDX-TF5CfA,1
4627,4674,4KfDcE9iU2isFpoaKeDpgw,0,rFH9iSvRmdm5LtDdsYwwpA,5
4628,4719,P4Plzlfm4uJjNmH3wY4W1Q,0,IobIRp1mGJiLg4B6wHAvqQ,2
4629,3440,nW45ez1L6U4PsYhV1BTrGQ,0,abStF7f3_IyfZmOP82baZQ,5
4630,I had given my husband some ideas of engagemen...,a friend of ours recommended H&F.,NaN,NaN,NaN
4631,The customer service here is great - they are ...,attentive,honest and the prices are very reasonable! My...,NaN,NaN
4632,We went back for our wedding bands and I worke...,NaN,NaN,NaN,NaN
4633,We've recommended 5 other friends to H&F - the...,NaN,NaN,NaN,NaN
4634,Go to H&F for all your jewellery needs - you w...,1,PkRFSQgSfca9Tamq7b2LdQ,NaN,NaN
4635,4812,e13SEvJud_vgeDR_doL4sQ,0,lUV1KEm4cl4mluSEFharFQ,4
4636,1970,9NBkIExYYz3w9O5JdzDOMA,0,RT20_fUNJJNqMNvvjviNbQ,1
4637,689,BTcY04QFiS1uh-RpkR7rAg,1,6_A58CCY8SHB7r-Wu7-A5g,5
4638,4874,t0T_4MM4EUHbCzBTF11FHA,0,KqQwNyfoFiJOw911mrULIg,5
4639,564,5XYR6doRa5Nj1JMfSDei6A,1,xlGJkxoIBl8XH8wVsPZpnw,5
4640,Highly recommend the custard cakes they are th...,NaN,NaN,NaN,NaN
4641,The rice flour cake is also really good and a ...,NaN,NaN,NaN,NaN
4642,The bean cakes are great here too! orange,almond,and a few others I have tried are all good.,NaN,NaN
4643,Can't go wrong with Nova Era,0,kBNFdviedCPFWyR-wVaAzw,NaN,NaN
4644,3458,aLcFhMe6DDJ430zelCpd2A,0,kwiEG_KCpDB6aK5fTSM7iw,2
4645,This was disappointing.,NaN,NaN,NaN,NaN
4646,First off,it was really awkward sitting on the benches ...,as people walked past us while to wait for ou...,NaN,NaN
4647,Second,when we were seated,it was so loud. It felt like we were in a hig...,NaN,NaN
4648,Finally - Food was mediocre. I was extremely d...,but it wasn't flavourful.,NaN,NaN,NaN
4649,Wasn't worth the hype,unfortunately.,1,NaN,NaN
4650,4206,WdBWhGe4Siqg3IYTc4_K4A,0,O0ttxNGxHKtD8Cnnwc_j1g,1

## Summary

Congratulations, you now practiced your Pandas-importing skills!